/* ---------- posicionando divs propagandas personalizadas -----------------*/
[data-page=ads-left]{
    width: 25vw;
    max-width: 30vw;
    height: auto;
    position: absolute;
    top: 70vh;
    left: 2%;
    z-index: -1;
}


[data-page=ads-right]{
    width: 25vw;
    max-width: 30vw;
    height: auto;
    position: absolute;
    top: 70vh;
    right: 2%;
    background-color: transparent;
    z-index: -1;
}


[data-page=ads-top]{
    width: 60vw;
    height: 150px;
    max-height: 200px;
    position: absolute;
    top: 18vw;
    left: 20%;
    z-index: -1;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-collapse: collapse;
}

[data-space]{
    height: 16vh;
    margin-bottom: 5%;
}
.img{
    margin: auto;
    width: 100%;
    margin-top: 0%;
    height: auto;
}