@charset "utf-8";

/*---------------- menu ------------- */
#hamburguer{
    position:absolute;
    left: 10%;
    width: 100%;
    display: none;
}
#logo-menu{
    width: 45vw;;
    height: auto;
    margin: auto;
    transition: 0.5s;
    display: none;
}

[data-menu]:hover{
    transition: ease-in-out 0.5s;
    background-color: rgba(255, 255, 255, 0.272);
    text-shadow: 1px 1px 5px white;
}
[data-menu]{
    transition: 0.4s;
    padding: 3%;
    border-radius: 5px;
}

#logo{
    width: max-content;
    background-color:transparent;
    padding-left: 1%;
    display: flex;
    align-items: center;

}
#logotipo{
    width: 15vw;
    height: auto;
}
.social{
    width: 5vw;
    height: auto;
    border-radius: 5px;
    padding-left: 1%;
}
[data-article=article]{
    word-wrap: break-word;
}

/*-------------footer ------------------------*/

#footer{
    margin-top: 15%;
}

/* ----------ultimas -----------------------*/

[data-ocult="true"]{
    display: none;
}
[data-sub]{
    border-collapse: collapse;
}
[data-sub] h1{
    border-collapse: collapse;
}
#first-post{
    min-width: 45vw;
    min-height: 45vh;
    max-width: 45vw;
    max-height: 45vh;
    background-color: transparent;
    border: none;
    float: left;
    margin-left: 2%;
    margin-bottom: 2%;
}
#first-post [data-article=article]{
    font-size: 12pt;
    text-align: justify;
}
[data-article="article"]{
    font-size: 10pt;
    max-height: 100%;
}
[data-h1]{
    background-color: transparent;
    border-radius: 0px 10px 10px 0px;
    padding: 1%;
    position: absolute;
    background-color: #0a0a0a77;
    margin-top: 5%; 
    width: 38%;
}
#content{
    width: 98%;
    background-color: transparent;
    margin: auto;
    margin-top: 7%;
}
[data-sub=div]{
    width: 20%;
    color: black;
    height: 50vh;
    max-height: 50vh;
    padding: 5px;
    margin-top: 5%;
    border-collapse: collapse;
    border-bottom: 1px solid rgba(128, 128, 128, 0.496);
    text-align: left;
    margin-left: 1%;
    display: inline-block;
    transition: 0.3s;
    
}
[data-h1]:hover{
    background-color: #0a0a0ac0;
    transition: 0.5s;
    z-index: 1;
}
[data-h1]:hover + [data-f]{
    filter: blur(1px);
    transition: 0.3s;
    z-index: -1;
}
[data-sub=div]:hover {
    box-shadow: 1px 1px 5px rgba(7, 7, 7, 0.356);
}

/* ------------- tela de login ----------- */

input[class=form-control]{
    margin-top: 1%;
}
.form-login {
    width: 40vw;
    margin: auto;
    -webkit-overflow-scrolling: touch;
}
.btn.btn-success.btn-lg {
    margin-top: 1%;
}
.rounded.mx-auto.d-block{
    margin-top: 2%;
}
[data-message]{
    visibility: hidden;
}

/* ---------formulario de postagem ---------------- */
body{
    margin: 0px;
    padding: 0px;
}

[data-header=content]{
    width: 100vw;
    margin: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
}
[data-header=cols]{
    margin: auto;
    width: 100%;
    border-radius: 0px;
    border: 1px solid black;
    border-bottom: none;
    border-collapse: collapse;
}
[data-header=window]{
    width: 80vw;
    height: 60vh;
    border-top: none;
    margin: auto;
    display: block;
    align-items: center;
    border-collapse: collapse;
}
[data-editor]{
    margin-top: 1%;
    max-width: 80vw;
    min-width: 80vw;
    max-height: 20vh;                                                                                                                           
}
.form-group{
    width: 80%;
    margin: auto;
    background-color:transparent;
    text-align: center;
    border-radius: 5px;
    padding: 2%;
}
input[type=date]{
    margin-right: 1%;
}
label{
    margin-top: 1%;
}
#post{
    width: 100%;
}
.mostra{
    display: block;
}
.esconde {
    display: none;
}
[data-editor]{
    margin-top: 1%;
    max-width: 80vw;
    min-width: 80vw;
    max-height: 20vh;
}


/* -------paginas individuais -------------------- */
.posts{
    width: 40%;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 5%;
    text-align: left;
    display: block;
    align-items: center;
}

#photos-page{
    margin: auto;
}
[data-s]{
    width: 100%;
    height: 10vw;
    margin: auto;
    padding: 2%;
}
[data-f]{
    width: 100%;
    height: 300px;
    margin: auto;

}
[data-page]{
    width: 40vw;
    height: auto;
}

/* adaptando a tela --responsividade -- */
@media (max-width: 700px){
    #logo-menu{
        display: block;
    }
    [data-ocult="true"]{
        display: block;
    }
    [data-article=article]{
        display: none;
    }
    .h5.text-secondary{
        display: none;
    }
    [data-page]{
        width: 100%;
    }
    [data-f]{
        width: 100%;
        height: 100%;
    }
    [data-h1]{
        font-size: 12pt;
        word-wrap: normal;
        word-break: normal;
        text-decoration: none;
        position: relative;
        width: auto;
        
    }
    [data-sub=div]{
        float: none;
        display: block;
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.469);
        border-bottom-width: 90%;
    }
    [data-s]{
        height: 200px;
    }
    #first-post{
        display: none;
    }
    #first-post [data-f]{
        margin-bottom: 0px;
    }
    #first-post #data{
        display: none;
    }
    a{
        text-decoration: none;
        display: block;
        padding: 0px;
        margin: 0px;
    }
    li{
        display: block;
    }
    .posts{
        width: 99%;
        padding: 2%;
    }
    nav{
        display: inline-block;
        font-size: 10pt;
    }
    #data{
        display: none;
    }
    nav{
        display: none;
    }
    [data-page="ads-right"]{
        display: none;
    }
    [data-page="ads-left"]{
        display: none;
    }
    [data-page=ads-top]{
        margin-top: 1%;
        max-height: 100px;
        height: 50px;
        background-color: transparent;
    }
    #logotipo {
        width: 30vw;
    }
    .social{
        width: 15vw;
    }
    
}

/* ------------posicionando imagens na postagem ------------------*/

[data-page=left]{
    width: 300px;
    float: left;
    height: auto;
    max-width: 300px;
    margin: 1%;
}


[data-page=right]{
    max-width: 45vw;
    width: 40vw;
    float: right;
    height: auto;
    margin: 1%;
}


[data-page=ads-both]{
    width: 100%;
    display: flex;
    align-items: center;
    max-height: 150px;
    background-color: transparent;
    margin: auto;
}

/* ---------- posicionando divs propagandas personalizadas -----------------*/
[data-page=ads-left]{
    width: 25vw;
    max-width: 30vw;
    height: auto;
    position: absolute;
    top: 70vh;
    left: 2%;
    z-index: -1;
}


[data-page=ads-right]{
    width: 25vw;
    max-width: 30vw;
    height: auto;
    position: absolute;
    top: 70vh;
    right: 2%;
    background-color: transparent;
    z-index: -1;
}


[data-page=ads-top]{
    width: 60vw;
    height: 150px;
    max-height: 200px;
    position: absolute;
    top: 16%;
    left: 20%;
    z-index: -1;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-collapse: collapse;
}

[data-space]{
    height: 16vh;
}
.img{
    margin: auto;
    width: 100%;
    margin-top: 0%;
    height: auto;
}


/* -------------    Rodapé ---------------------------------------------*/

#footer{
    height: 40vh;
    display: flex;
    align-items: center;
    margin-bottom: -15%;
    margin-top: 10%;
}
#logo-rodape{
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    margin: auto;
}
#logo-main{
    width: 30vw;
    filter: brightness(0);
}
.icone{
    margin: 0%;
}
.letras {
    width: max-content;
    margin-bottom: 0px;
}

/*--------------Botoes de compartilhamento ------------------*/
#share-div{
    display: flex;
    align-items: center;
    padding: 1%;
}
.twitter-share-button{
    margin: auto;
    width: max-content;
}