@charset "utf-8";

/*---------------- menu ------------- */
#hamburguer{
    position:absolute;
    left: 10%;
    width: 100%;
    display: none;
}

#hamburguer div{
    width: 7%;
    background-color: white;
    height: 3px;
    margin: 5px;
    border-radius: 5px;

}

[data-menu]:hover{
    color: #E92049;
    transition: ease-in-out 0.5s;
    background-color: rgba(255, 255, 255, 0.272);
}
[data-menu]{
    transition: 1s;
}

#logo{
    width: max-content;
    background-color:transparent;
    padding-left: 1%;
    display: flex;
    align-items: center;

}
#logotipo{
    width: 100px;
    height: 50px;
}
.social{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    padding-left: 1%;
}
[data-article=article]{
    word-wrap: break-word;
}

/* ----------ultimas -----------------------*/
[data-sub]{
    border-collapse: collapse;
}
[data-sub] h1{
    border-collapse: collapse;
}
#first-post{
    min-width: 40vw;
    min-height: 45vh;
    max-width: 40vw;
    max-height: 45vh;
    background-color: transparent;
    border: none;
    float: left;
    margin-left: 5%;
    margin-bottom: 15%;
}
#first-post [data-article=article]{
    font-size: 12pt;
    text-align: justify;
}
[data-article="article"]{
    font-size: 10pt;
    max-height: 100%;
}
[data-h1]{
    background-color: white;
    border-radius: 5px;
    padding: 1%;
}
#content{
    width: 98%;
    background-color: transparent;
    margin: auto;
    margin-top: 7%;
}
[data-sub=div]{
    width: 20%;
    color: black;
    height: 45vh;
    max-height: 45vh;
    padding: 5px;
    margin-top: 5%;
    border-collapse: collapse;
    border-bottom: 1px solid rgba(128, 128, 128, 0.496);
    text-align: left;
    margin-left: 1%;
    display: inline-block;
}

/* ------------- tela de login ----------- */

input[class=form-control]{
    margin-top: 1%;
}
.form-login {
    width: 40vw;
    margin: auto;
    -webkit-overflow-scrolling: touch;
}
.btn.btn-success.btn-lg {
    margin-top: 1%;
}
.rounded.mx-auto.d-block{
    margin-top: 2%;
}
[data-message]{
    visibility: hidden;
}

/* ---------formulario de postagem ---------------- */
body{
    margin: 0px;
    padding: 0px;
}

[data-header=content]{
    width: 100vw;
    margin: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
}
[data-header=cols]{
    margin: auto;
    width: 100%;
    border-radius: 0px;
    border: 1px solid black;
    border-bottom: none;
    border-collapse: collapse;
}
[data-header=window]{
    width: 80vw;
    height: 60vh;
    border-top: none;
    margin: auto;
    display: block;
    align-items: center;
    border-collapse: collapse;
}
[data-editor]{
    margin-top: 1%;
    max-width: 80vw;
    min-width: 80vw;
    max-height: 20vh;                                                                                                                           
}
.form-group{
    width: 80%;
    margin: auto;
    background-color:transparent;
    text-align: center;
    border-radius: 5px;
    padding: 2%;
}
input[type=date]{
    margin-right: 1%;
}
label{
    margin-top: 1%;
}
#post{
    width: 100%;
}
.mostra{
    display: block;
}
.esconde {
    display: none;
}


/* -------paginas individuais -------------------- */
.posts{
    width: 40%;
    margin: auto;
    margin-top: 10%;
    text-align: left;
    display: block;
    align-items: center;
}

#photos-page{
    margin: auto;
}
[data-s]{
    width: 100%;
    height: 10vw;
    margin: auto;
    padding: 2%;
}
[data-f]{
    width: 100%;
    height: 300px;
    margin: auto;

}
[data-page]{
    width: 40vw;
    height: auto;
}
img {
    width: 40vw;
    height: auto;
}
/* adaptando a tela --responsividade -- */
@media only screen and (max-width: 900px){
    [data-article=article]{
        display: none;
    }
    .h5.text-secondary{
        display: none;
    }
    [data-page]{
        width: 100%;
    }
    [data-f]{
        width: 100%;
        height: 100%;
    }
    [data-h1]{
        font-size: 12pt;
        word-wrap: normal;
        word-break: normal;
        text-decoration: none;
    }
    [data-sub=div]{
        float: none;
        display: block;
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.469);
        border-bottom-width: 90%;
    }
    [data-s]{
        height: 200px;
    }
    #first-post{
        width: 80%;
        position: relative;
        z-index: -1;
        margin: auto;
        float: none;
        max-width: none;
        border-bottom: 1px solid rgba(128, 128, 128, 0.469);
    }
    a{
        text-decoration: none;
        display: block;
        padding: 0px;
        margin: 0px;
    }
    li{
        display: block;
    }
    .posts{
        width: 99%;
        padding: 2%;
    }
    nav{
        display: inline-block;
        font-size: 10pt;
    }
    #data{
        display: none;
    }
    nav{
        display: none;
    }
    
}

