<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}" type="text/css">
    <nav class="navbar navbar-light bg-danger">
        <div class="container-fluid">
          <a href="#" class="navbar-brand text-light">Últimas notícias</a>
          <a href="#" class="navbar-brand text-light">Esporte</a>
          <a href="#" class="navbar-brand text-light">Política</a>
          <a href="#" class="navbar-brand text-light">Polícia</a>
          <a href="#" class="navbar-brand text-light">Curiosidades</a>
          <a href="#" class="navbar-brand text-light">Contato</a>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="button">Search</button>
          </form>
        </div>
      </nav>    
</header>
<body>
{% block body %}
    {# --------corpo da pagina ----------------------- #}
{% endblock %}
<script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>