{% extends 'base.html' %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <form class="form-login">
        <img width="80" height="80" src="{{ url_for('static', filename='img/password.png') }}" class="rounded mx-auto d-block" alt="">
        <h4 class="h4 text-center text-primary">Faça login</h4>
        <div class="form-group text-center">
            <input type="text" class="form-control" placeholder="Seu nome" name="user">
            <p class="text-danger" data-message="error-user">Usuário não existe!</p>
            <input type="password" class="form-control" placeholder="Senha" name="password">
            <p class="text-danger" data-message="error-password">Senha incorreta!</p>
            <input type="checkbox" class="form-check-input" id="connected" name="connected" value="1">
            <label for="connected" class="form-check-label">Mantenha-me conectado</label><br>
            <button class="btn btn-success btn-lg" id="btn-login">Acessar</button>
        </div>
    </form>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}