{% extends 'base.html' %}
{% block body %}
{# renderiza as paginas clicadas #}
    <title>{{ var.title }}</title>
    <div class="posts">
        <article>
            <h1 class="h3 text-danger text-left">{{ var.title }}</h1>
            <div style="font-size: small; display: inline-flexbox; margin-bottom: 5%;">
                <p style="padding: 0px; margin: 0px;" class="text-danger">Data: <span class="text-secondary">{{ var.date }}</span></p>
                <p style="padding: 0px; margin: 0px;" class="text-danger">Editor: <span class="text-secondary">{{ var.author }}</span></p>
                <p style="padding: 0px; margin: 0px;" class="text-danger">Créditos: 
                    {% if var.credits %}<span class="text-secondary">{{ var.credits|safe }}</span>{% endif %}
                </p>
            </div>
            <div class="body-post">
                <p>{{ var.text|safe }}{{ var.code|safe }}</p>
            </div>
            <div id="photos-page">
                {% if var.photos[:4] == 'http' %}
                    <img data-page src="{{ var.photos }}" alt="{{ var.photos }}">
                {% else %}
                    <img data-page src="{{ url_for('static', filename='img/upload/' + var.photos) }}" alt="{{ var.photos }}">
                {% endif %}
            </div>
        </article>
    </div>
{% endblock %}