{% extends 'base.html' %}
{% block body %}
<!--------------------- renderiza as paginas clicadas ----------------------->
    <title>{{ var.title }}</title>
    
    <!--Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://sisalnews.com.br/{{ var.category }}/{{ var.title }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ var.title }}" />
    <meta property="og:description"   content="{{ var.sub }}" />
    <meta property="og:image"         content="https://www.pythonanywhere.com/user/Eliomar55/files/home/Eliomar55/noticias/app/static/img/FNLogo.jpeg" />
    
<!-------------------- Corpo da postagem ------------------------------------------>
    <div class="posts">
        <article>
            <div data-space class="container container-fluid"></div>
            <h1 class="h1 text-dark text-left">{{ var.title }}</h1>
            <p class="h4 text-secondary">{{ var.sub }}</p>
            <div style="font-size: small; display: inline-flexbox; margin-bottom: 5%;">
                <p style="padding: 0px; margin: 0px;" class="text-info">Data: <span class="text-secondary">{{ var.date }}</span></p>
                <p style="padding: 0px; margin: 0px;" class="text-info">Editor: <span class="text-secondary">{{ var.author }}</span></p>
                <p style="padding: 0px; margin: 0px; display: flex;" class="text-info">Créditos: 
                    {% if var.credits %}<span>{{ var.credits|safe }}</span>{% endif %}
                </p>
            </div>
            <div id="share-div" class="container rounded">
                <!----   -------- ---    facebook compartilhar------------------------->
                <div class="container-fluid mx-auto">
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v11.0" 
                        nonce="GrpPCC1v">
                    </script>
                    <div class="fb-share-button" data-href="http://www.sisalnews.com.br/{{ var.category }}/{{ var.title }}" data-layout="button" 
                        data-size="large">
                            <a target="_blank" 
                            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" 
                                class="fb-xfbml-parse-ignore">Compartilhar
                            </a>
                    </div>
                </div>

                <!------------------ botão twitter------------------------------------->
                <div class="container-fluid mx-auto">
                    <div></div>
                    <a class="twitter-share-button" data-size="large" data-text="{{ var.title }}" data-via="{{ var.author }}"
                    href="https://twitter.com/intent/tweet" lang="pt-br">
                    Tweet</a>
                </div>
            </div>
            <div class="body-post">
                
                <p>{{ var.text|safe }}{{ var.code|safe }}</p>
            </div>
            <div id="photos-page">
                {% if var.photos[:4] == 'http' %}
                    <img data-page src="{{ var.photos }}" alt="{{ var.photos }}">
                    
                {% else %}
                    <img data-page src="{{ url_for('static', filename='img/upload/' + var.photos) }}" alt="{{ var.photos }}">
                    
                {% endif %}
            </div>
        </article>
    </div>

    

<!------------------ Mais noticias relacionadas ------------------------>
    <div>
        <h1 class="h3 text-dark text-center" style="margin-top: 10%;">Veja mais relacionados...</h1><hr>
        {% for tuples in var.outer %}
        {% if tuples[0] != var.id %}
        <a href="/{{ tuples.3 }}/{{ tuples.4 }}" title="{{ tuples.4 }}">
            {% if tuples[6][:4] == 'http' %}
                <div data-sub="div" class="btn btn-outline-light">
                    <img data-s class="rounded float-left" width="250" height="200" src="{{ tuples.6 }}" alt="">
                    
                    <h1 class="h6 text-dark text-left" data-h2>{{ tuples.4|upper }}</h1>
                    <p data-data class="h6 text-info text-center">{{ tuples[1] }}</p>
                    <p data-article="article" class="text-success text-center">{{ tuples.9[:75] }}...</p>
                </div>
            {% else %}
            <div data-sub="div" class="btn btn-light">
                <img data-s class="rounded float-left" width="250" height="200" 
                    src="{{ url_for('static', filename='img/upload/' + tuples.6) }}" alt="{{ tuples.6 }}">
                    
                <h1 class="h6 text-dark text-left" data-h2>{{ tuples[4]|upper }}</h1>
                <p data-data class="h6 text-info text-center">{{ tuples[1] }}</p>
                <p data-article="article" class="text-success text-center">{{ tuples.9[:75] }}...</p>
            </div>
            {% endif %}
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <style>
        [data-h2]{
            text-align: center;
            margin-top: 2%;
        }
    </style>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>  
{% endblock %}