{% extends 'base.html' %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Ultimas noticias</title>
    <div class="container-lg bg-secondary" style="margin-top: 1%;">{{ var.ads|safe }}</div>
    <div id="container">
        {% for tuples in var %}
            <!-------------------------------- primeiros posts --------------------------------->
                {% if loop.index <= 2 %}
                <div class="container-fluid">
                    <a  href="/{{ tuples.3 }}/{{ tuples.4 }}" title="{{ tuples.4 }}">
                        <div id="first-post" data-sub="div" class="conteiner">
                            <p data-h1 class="h3 text-light">{{ tuples.4|upper }}</p>
                            {% if tuples[6][:4]  == 'http' %}
                                <img data-f class="rounded" src="{{ tuples.6 }}" alt="{{ tuples[6] }}">
                            {% else %}
                                <img data-f class="rounded" width="400" height="350" 
                                    src="{{ url_for('static', filename='img/upload/' + tuples.6) }}" alt="">
                            {% endif %}
                            <p data-data id="data" class="h5 text-info">{{ tuples[1] }}</p>
                        </div>
                    </a>
                </div>
                <!------------ Primeiros posts ocultos para mostrar somente celular -------------------->
                <a href="/{{ tuples.3 }}/{{ tuples.4 }}" title="{{ tuples.4 }}" data-ocult="true">
                    {% if tuples[6][:4] == 'http' %}
                        <div data-sub="div" class="btn btn-outline-light">
                            <img data-s class="rounded float-left" width="250" height="200" src="{{ tuples.6 }}" alt="">
                            <h1 style="width: 10;" class="h6 text-secondary text-left" data-h2>{{ tuples.4|upper }}</h1>
                            <p data-data class="h6 text-info text-center">{{ tuples[1] }}</p>
                            <p data-article="article" class="text-success text-center">{{ tuples.9[:75] }}</p>
                        </div>
                    {% else %}
                    <!------------- Demais posts para thumbnail interno--------------------------------->
                    <div data-sub="div" class="btn btn-light">
                        <img data-s class="rounded float-left" width="250" height="200" 
                            src="{{ url_for('static', filename='img/upload/' + tuples.6) }}" alt="{{ tuples.6 }}">
                        <h1 class="h6 text-secondary text-left" data-h1>{{ tuples[4]|upper }}</h1>
                        <p data-data class="h6 text-info text-center">{{ tuples[1] }}</p>
                        <p data-article="article" class="text-success text-center">{{ tuples.9[:75] }}...</p>
                    </div>
                    {% endif %}
                </a>
                {% endif %}
            {% endfor %}
            
        {% for tuples in var %}
            {% if loop.index != 1  and loop.index != 2 %}
                <!------------  Demais posts para com thumbnail de link externo --------------------->
                <a href="/{{ tuples.3 }}/{{ tuples.4 }}" title="{{ tuples.4 }}">
                    {% if tuples[6][:4] == 'http' %}
                        <div data-sub="div" class="btn btn-outline-light">
                            <img data-s class="rounded float-left" width="250" height="200" src="{{ tuples.6 }}" alt="">
                            <h1 style="width: 10;" class="h6 text-secondary text-left" data-h2>{{ tuples.4|upper }}</h1>
                            <p data-data class="h6 text-info text-center">{{ tuples[1] }}</p>
                            <p data-article="article" class="text-success text-center">{{ tuples.9[:75] }}</p>
                        </div>
                    {% else %}
                    <!------------- Demais posts para thumbnail interno--------------------------------->
                    <div data-sub="div" class="btn btn-light">
                        <img data-s class="rounded float-left" width="250" height="200" 
                            src="{{ url_for('static', filename='img/upload/' + tuples.6) }}" alt="{{ tuples.6 }}">
                        <h1 class="h6 text-secondary text-left" data-h1>{{ tuples[4]|upper }}</h1>
                        <p data-data class="h6 text-info text-center">{{ tuples[1] }}</p>
                        <p data-article="article" class="text-success text-center">{{ tuples.9[:75] }}...</p>
                    </div>
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}
