{% extends 'base.html' %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<title>Ultimas noticias</title>
<div id="content">
    {% for tuples in var %}
        {% if loop.index == 1 %}
        <a  href="/{{ tuples.3 }}/{{ tuples.4 }}" title="{{ tuples.4 }}">
            <div id="first-post" data-sub="div" class="btn btn-outline-light">
                <h1 class="h4 text-danger text-left" data-h1>{{ tuples.4|capitalize }}</h1>
                {% if tuples[6][:4]  == 'http' %}
                    <img data-f class="rounded" src="{{ tuples.6 }}" alt="">
                {% else %}
                    <img data-f class="rounded" width="400" height="350" src="{{ url_for('static', filename='img/upload/' + tuples.6) }}" alt="">
                {% endif %}
                <p data-article="article">{{ tuples.5[:100]|safe }}...</p>
            </div>
        </a>
        
        {% endif %}
        <a href="/{{ tuples.3 }}/{{ tuples.4 }}" title="{{ tuples.4 }}">
            {% if tuples[6][:4] == 'http' %}
                <div data-sub="div" class="btn btn-outline-light bd-0">
                    <img data-s class="rounded float-left" width="250" height="200" src="{{ tuples.6 }}" alt="">
                    <h1 class="h6 text-danger text-left" data-h1>{{ tuples.4[:50]|capitalize }}</h1>
                    <p id="data" class="btn btn-outline-info btn-sm">{{ tuples[1] }}</p>
                    <p data-article="article">{{ tuples.5[:80]|safe }}...</p>
                </div>
            {% else %}
            <div data-sub="div" class="btn btn-outline-light">
                <img data-s class="rounded float-left" width="250" height="200" src="{{ url_for('static', filename='img/upload/' + tuples.6) }}" alt="{{ tuples.6 }}">
                <h1 class="h6 text-danger text-left" data-h1>{{ tuples[4][:50]|capitalize }}</h1>
                <p id="data" class="btn btn-outline-info btn-sm">{{ tuples[1] }}</p>
                <p data-article="article">{{ tuples.5[:80]|safe }}...</p>
            </div>
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endblock %}