{% extends 'base.html' %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Ultimas noticias</title>
    <div id="container-fluid mx-auto">
	    {% for tuples in var %}
            {#!-------------------------------- primeiros posts ---------------------------------#}
                {% if loop.index <= 4 %}
                <div class="container-fluid mx-auto">
                    <a  href="/{{ tuples.3 }}/{{ tuples.4 }}" title="{{ tuples.4 }}">
			            <div data-id="first-post" data-sub="div" class="container-fluid bg-dark">
                            <p data-h1 class="h3 text-light bg-dark">{{ tuples.4|safe }}</p>
                            {% if tuples[6][:4]  == 'http' %}
                                <img data-f class="rounded" src="{{ tuples.6 }}" alt="{{ tuples[6] }}">
                            {% else %}
                                <img data-f class="rounded" src="{{ url_for('static', filename='img/upload/' + tuples.6) }}" alt="">
                            {% endif %}
                            <p data-data class="h5 text-center">{{ tuples[1][-2:] }}-{{ tuples[1][-5:-3] }}-{{ tuples[1][:-6] }}</p>
                        </div>
                    </a>
                </div>
                {#!------------ Primeiros posts ocultos para mostrar somente celular --------------------#}
                <a href="/{{ tuples.3 }}/{{ tuples.4 }}" title="{{ tuples.4 }}" data-ocult="true">
                    {% if tuples[6][:4] == 'http' %}
                        <div data-sub="div" class="btn btn-outline-light">
                            <img data-s class="rounded float-left"  src="{{ tuples.6 }}" alt="">
                            <p class="h6 text-secondary text-left" data-h2>{{ tuples.4|safe }}</p>
                            <p data-data class="h6 text-center">{{ tuples[1][-2:] }}-{{ tuples[1][-5:-3] }}-{{ tuples[1][:-6] }}</p>
                            <p data-article="article" class="text-success text-center">{{ tuples.9[:75] }}</p>
                        </div>
                    {% else %}
                    {#!------------- Demais posts para thumbnail interno--------------------------------->#}
                    <div data-sub="div" class="btn btn-light">
                        <img data-s class="rounded float-left" 
                            src="{{ url_for('static', filename='img/upload/' + tuples.6) }}" alt="{{ tuples.6 }}">
                        <p class="h6 text-secondary text-left" data-h2>{{ tuples[4]|safe }}</p>
                        <p data-data class="h6 text-info text-center">{{ tuples[1][-2:] }}-{{ tuples[1][-5:-3] }}-{{ tuples[1][:-6] }}</p>
                        <p data-article="article" class="text-success text-center">{{ tuples.9[:75] }}...</p>
                    </div>
                    {% endif %}
                </a>
                {% endif %}
            {% endfor %}
	    	<div class="container-fluid" data-separator="container">
			<p class="h2" data-separator="text">Continue lendo</p>
			<div data-separator="line" class="container-fluid"></div>
    </div>

            
        {% for tuples in var %}
		{% if loop.index > 4 %}
                {#<!------------  Demais posts para com thumbnail de link externo ---------------------#}
                <a href="/{{ tuples.3 }}/{{ tuples.4 }}" title="{{ tuples.4 }}">
                    {% if tuples[6][:4] == 'http' %}
                        <div data-sub="div" class="btn btn-outline-light">
                            <img data-s class="rounded float-left" src="{{ tuples.6 }}" alt="">
                            <h1 class="h6 text-secondary text-left" data-h2>{{ tuples.4|safe }}</h1>
                            <p data-data class="h6 text-center">{{ tuples[1][-2:] }}-{{ tuples[1][-5:-3] }}-{{ tuples[1][:-6] }}</p>
                            <p data-article="article" class="text-dark-lg text-center">{{ tuples.9[:75] }}</p>
                        </div>
                    {% else %}
                    {#<!------------- Demais posts para thumbnail interno--------------------------------->#}
                    <div data-sub="div" class="btn btn-outline-light">
                        <img data-s class="rounded float-left" src="{{ url_for('static', filename='img/upload/' + tuples.6) }}" alt="{{ tuples.6 }}">
                        <h1 class="h6 text-secondary text-left" data-h2>{{ tuples[4]|safe }}</h1>
                        <p data-data class="h6 text-center">{{ tuples[1][-2:] }}-{{ tuples[1][-5:-3] }}-{{ tuples[1][:-6] }}</p>
                        <p data-article="article" class="text-dark-lg text-center">{{ tuples.9[:75] }}...</p>
                    </div>
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}
